@import url('https://fonts.googleapis.com/css?family=Orbitron');

.header-container {
    display: flex;
    background: rgb(31, 31, 31);
    color: white;
    height: 10px;
    align-items: center;
    width: 100vw;
    padding: 20px;
    font-family: 'Orbitron' 
}

.home {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: flex-end
}

.ui.inverted.menu {
    display: flex;
    justify-content: flex-start;
    background: rgb(22, 22, 22)
}

#login-button {
    position: absolute;
    right: 0;
    float: right;
    height: 40px;
}